table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 4px;
}
table,
td {
    border: 1px solid #cecfd5;
}

th,
td {
    padding: 10px 15px;
    text-align: left;
}
main{
    margin:0 auto;
    width: 80vw;
}

nav ul {
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
body{
    background: white;
    margin-bottom: 5vh;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #333;
}

main li{
    list-style-type: none;
    padding: 0.2em;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
h1{
    text-align: center;
}
main li{
    margin-bottom: 0.5em;
}